.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 375px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.layout-main {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    height: max-content;
    max-width: 375px;
    height: max-content;
}
.layout-navbar {
    position: fixed;
    top: 765px;
    z-index: 1000;
    height: max-content;
}